<nav>
  <ul>
    <li>
        <a routerLink="Flavors">Flavors
        </a>
     </li>
    <li>
      <a routerLink="Clusters" name="Clusters">Clusters
      </a>
    </li>
      <li>
          <a routerLink="Operators">Operators
          </a>
        </li>
    <li>
      <a routerLink="Cloudlets" name="Cloudlets">Cloudlets
      </a>
    </li>
    <li>
        <a routerLink="Developers">Developers
          <!-- <i class="material-icons">face</i> -->
          
        </a>
    </li>
    <li>
      <a routerLink="Apps">Apps
      </a>
    </li>
    <li>
      <a routerLink="Appinsts">AppInstances
      </a>
    </li>
  </ul>
</nav>
