*~
.vscode
*.kubeconfig
protoc-gen-cmd/protoc-gen-cmd
protoc-gen-gomex/protoc-gen-gomex
setup-env/ansible/playbooks/setup.yml
notify/*.notify.go
testutil/*_testutil.go
*.postgres
*__pycache__
link-gogo-protobuf
link-grpc-gateway
version/version.go
d-match-engine/dme-proto/*.proto
cloudcommon/node/vault.log
cloudcommon/node/vault_pki
cloudcommon/node/roles.yaml
edgeprotogen/edgeprotogen.proto
edgeprotogen/edgeprotogen.pb.go
vault/*.csr
vault/*.pem
vault/vault.log
vault/vault_pki
vault/roles.yaml
*.csr
*.pem
envoy/certs/envoyTlsCerts.key
envoy/certs/envoyTlsCerts.crt
controller/envoy/certs/envoyTlsCerts.crt
controller/data_test.json
controller/etcdLocal_data/*
controller/influxdb.log
controller/influxq_client/.influxdb
controller/influxq_client/influxdb.log
cloud-resource-manager/cmd/crmserver/envoy/*
