version: '3'
services:
  etcd-gcr-v3.3.9:
    image: "gcr.io/etcd-development/etcd:v3.3.9"
    ports:
     - "2379:2379"
     - "2380:2380"
    volumes:
     - /tmp/etcd-data.tmp:/etcd-data
    command: /usr/local/bin/etcd --name s1 --data-dir /etcd-data --listen-client-urls http://0.0.0.0:2379 --advertise-client-urls http://0.0.0.0:2379 --listen-peer-urls http://0.0.0.0:2380 --initial-advertise-peer-urls http://0.0.0.0:2380 --initial-cluster s1=http://0.0.0.0:2380 --initial-cluster-token tkn --initial-cluster-state new
    networks:
      mex:
        ipv4_address: 192.168.201.101
  controller:
    image: "registry.mobiledgex.net:5000/mobiledgex/edge-cloud"
    ports:
     - "50001:50001"
     - "8091:8091"
     - "55001:55001"
    command: controller -d api,notify -apiAddr 0.0.0.0:55001 -httpAddr 0.0.0.0:8091 -notifyAddr :50001 -etcdUrls http://192.168.201.101:2380
    networks:
      mex:
        ipv4_address: 192.168.201.102
  crmserver:
    env_file: 
     - mex-docker.env
    image: "registry.mobiledgex.net:5000/mobiledgex/edge-cloud"
    ports:
     - "55099:55099"
    command: crmserver -d mexos,api,notify -controller 192.168.201.102:55001 -notifyAddrs 192.168.201.102:50001 -cloudletKey '{"operator_key":{"name":"mex-gddt"},"name":"testcloudlet"}'
    volumes:
     - ./edgecloud:/edgecloud
     - ~/.mobiledgex:/root/.mobiledgex
     - /etc/hosts:/etc/hosts
    networks:
      mex:
        ipv4_address: 192.168.201.103
networks:
  mex:
    driver: bridge
    ipam:
       driver: default
       config:
       - subnet: 192.168.201.0/24
