- name: cleanup etcds
  gather_facts: no
  user: root
  hosts: etcds

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"

  tasks:
  - name: reset etcd data
    file:
      state: absent
      path: "{{ item.etcdlocal.datadir }}"
    when: item.hostname == inventory_hostname 
    with_items:
       -  "{{ etcds }}"

  - name: uninstall etcd 
    package:
      name: etcd
      state: absent

  #needed for ubuntu only but will not hurt
  - name: delete etcd file
    file:
       path: "{{ remote_bin_path }}/etcd"
       state: absent

- name: cleanup controllers
  gather_facts: no
  user: root
  hosts: controllers

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"

  tasks:

  - name: remove controller binary
    file: 
       name: "{{ controller_remote_bin }}"
       state: absent


- name: cleanup dmes
  gather_facts: no
  user: root
  hosts: dmes

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"

  tasks:
  - name: remove dme binary
    file: 
       name: "{{ dme_remote_bin }}"
       state: absent      


- name: cleanup crms
  gather_facts: no
  user: root
  hosts: crms

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"

  tasks:
  - name: remove crm binary
    file:
       name: "{{ crm_remote_bin }}"
       state: absent

- name: cleanup locsims
  gather_facts: no
  user: root
  hosts: crms

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"

  tasks:
  - name: remove locsim binary
    file:
       name: "{{ locsim_remote_bin }}"
       state: absent

  - name: remove locsim data file
    file:
       name: "{{ locsim_remote_data_file }}"
       state: absent

- name: cleanup toksims
  gather_facts: no
  user: root
  hosts: crms

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"

  tasks:
  - name: remove toksim binary
    file:
       name: "{{ toksim_remote_bin }}"
       state: absent

- name: cleanup sample apps
  gather_facts: no
  user: root
  hosts: sampleapps

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"

  tasks:
  - name: remove sample app binary
    file:
       name: "{{ remote_bin_path }}/{{ item.sampleapplocal.exename }}"
       state: absent
    with_items:
       -  "{{ sampleapps }}"


- name: cleanup logs
  gather_facts: no
  user: root
  hosts: mexservers

  vars_files:
  - mex_vars.yml
  - "{{ setupfile }}"
 
  tasks:
  
  - name: delete logfile dir
    file:
      path: "{{ remote_log_path }}"
      state: absent 
