<h1>Apps
  </h1>
  
      <ul>
        <li *ngFor="let ap of apps$">
          <ul>
            <!-- <li> Developer Name          : {{ ap.result.key.developer_key.name }}</li>
            <li> Application Name        : {{ ap.result.key.name }}</li>
            <li> Version                 : {{ ap.result.key.version }}</li>
            <li> ImagePath               : {{ ap.result.image_path }}</li>
            <li> ImageType               : {{ ap.result.image_type }}</li>
            <li> AccessLayer             : {{ ap.result.access_layer }}</li>
            <li> DefaultFlavor           : {{ ap.result.default_flavor.name }}</li>
            <li> Cluster                 : {{ ap.result.cluster.name }} </li> -->
            <!-- <li><a href="http://{{ user.website }}">{{ user.website }}</a></li> -->
            <li> Developer Name          : {{ ap.key.developer_key.name }}</li>
            <li> Application Name        : {{ ap.key.name }}</li>
            <li> Version                 : {{ ap.key.version }}</li>
            <li> ImagePath               : {{ ap.image_path }}</li>
            <li> ImageType               : {{ ap.image_type }}</li>
            <li> AccessLayer             : {{ ap.access_layer }}</li>
            <li> DefaultFlavor           : {{ ap.default_flavor.name }}</li>
            <li> Cluster                 : {{ ap.cluster.name }} </li>
          </ul>
        </li>
      </ul>