<h1>Apps</h1>
  
<ul>
  <li *ngFor="let ap of apps$; let i = index">
    <table style="width:65%">
    <tr><td> Index                   </td><td>  {{ i+1 }}</td></tr>
    <tr>
          <td>Developer Name</td>         
          <td>{{ ap.result.key.developer_key.name }}</td>
    </tr> 
    <tr>
      <td>Application Name</td>
      <td>{{ ap.result.key.name }}</td>         
    </tr>
    <tr>
        <td>Version</td>
        <td>{{ ap.result.key.version }} </td>
    </tr>
    <tr>
      <td>ImagePath</td>
      <td>{{ ap.result.image_path }}</td>
    </tr>
    <tr>  
      <td>ImageType</td>
      <td>{{ ap.result.image_type }}</td>
    </tr>
    <tr>
      <td>AccessLayer</td>
      <td>{{ ap.result.access_layer }}</td>
    </tr>
    <tr>
      <td>DefaultFlavor</td>
      <td>{{ ap.result.default_flavor.name }}</td>
    </tr>
    <tr>
      <td>Cluster</td>
      <td> {{ ap.result.cluster.name }} </td>
    </tr>
      
        <tr>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button></td>
          <td><button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button></td>
        </tr>
    </table>



</li>
</ul>
  <!-- <div class="container">
    <div class="applist">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>DeveloperName</th>
            <th>Name</th>
            <th>Version</th>
            <th>ImagePath</th>
            <th>ImageType</th>
            <th>AccessLayer</th>
            <th>DefaultFlavor</th>
            <th>Cluster</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of apps; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ app.developerName }}</td>
            <td>{{ app.name }}</td>
            <td>{{ app.version}}</td>
            <td>{{ app.imagePath }}</td>
            <td>{{ app.imageType }}</td>
            <td>{{ app.accessLayer }}</td>
            <td>{{ app.defaultFlavor }}</td>
            <td>{{ app.cluster }}</td>
            <td>
              <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table> 
    </div>-->
   <div class="text-center"> 
     
        <button type="submit" class="btn btn-primary" (click)="onNew()">New</button>
      </div>
   
    <br>
    <div class="appentry" *ngIf="showNew">
      <form (ngSubmit)="onSave()">
        <div class="form-group row">
          <label for="devname-input" class="col-2 col-form-label">DeveloperName</label>
          <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="appModel.developerName" name="developerName">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="name-input" class="col-2 col-form-label">Name</label>
          <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="appModel.name" name="name">
          </div>
        </div>
  
        <div class="form-group row">
            <label for="version-input" class="col-2 col-form-label">Version</label>
            <div class="col-10">
              <input class="form-control" type="text" [(ngModel)]="appModel.version" name="version">
            </div>
        </div>
  
        <div class="form-group row">
          <label for="imagepath-input" class="col-2 col-form-label">ImagePath</label>
          <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="appModel.imagePath" name="imagePath">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="imagetype-input" class="col-2 col-form-label">ImageType</label>
          <div class="col-10">
            <input class="form-control" type="email" [(ngModel)]="appModel.imageType" name="imageType">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="accesslayer-input" class="col-2 col-form-label">AccessLayer</label>
          <div class="col-10">
            <input class="form-control" type="email" [(ngModel)]="appModel.accessLayer" name="accessLayer">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="defaultflavor-input" class="col-2 col-form-label">DefaultFlavor</label>
          <div class="col-10">
            <input class="form-control" type="email" [(ngModel)]="appModel.defaultFlavor" name="defaultFlavor">
          </div>
        </div>
  
        <div class="form-group row">
          <label for="cluster-input" class="col-2 col-form-label">Cluster</label>
          <div class="col-10">
            <input class="form-control" type="email" [(ngModel)]="appModel.cluster" name="cluster">
          </div>
        </div>
        <button type="submit" class="btn btn-success">{{submitType}}</button>
        <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
      </form>
    </div>

     
